# Expo / React Native
node_modules/
.expo/
.expo-shared/
dist/
web-build/
*.tsbuildinfo

# Native
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
ios/
android/

# OS / IDE
.DS_Store
.idea/
.vscode/
*.swp

# Env / secrets
.env
.env.local
